<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	
	<insert id="insert" parameterType="com.gura.spring02.member.dto.MemberDto">
		insert into member values (member_seq.nextval, #{name}, #{addr})
	</insert>
	
	<select id="getList" resultType="com.gura.spring02.member.dto.MemberDto">
		select * from member order by num asc
	</select>
	
	<select id="getData" resultType="com.gura.spring02.member.dto.MemberDto" parameterType="int">
		select * from member where num = #{num}
	</select>
	
	<delete id="delete" parameterType="int">
		delete from member where num = #{num}
	</delete>
	
	<update id="update" parameterType="com.gura.spring02.member.dto.MemberDto">
		update member set name=#{name},addr=#{addr} where num = #{num}
	</update>
	
	
</mapper>


